@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Bryan Gonzalez - Software Engineer.</h3>

<table class="table table-hover">
   
    <tbody>
  
        <tr>
            <td><img src="~/images/BGE.png" /></td>
            <td><p>
                <br />
                Bryan has strong experience in the information technology industry working with distributed agile teams.
                <br />
                Software Engineer with excellent understanding of software technologies, Database development, data integration, C#, .NET and  software development practices/tools, including the full SDLC, source control and production support.
                <br /><br />
                Technical skills:
                <br /><br />
                Data development and manipulation, relational and NoSQL databases, Microsoft SQL certified, SQL Server Integration Services, Data warehouse modeling, Data mining, Machine learning, Azure DevOps, Azure suite of tools, .NET, ASP.Net, REST, Web API, MVC, EF, C#, JSON, XML, HTML5, JavaScript, Git, MongoDB ,R, R-Studio. .
            </p></td>
        </tr>

    </tbody>
</table>
